<!DOCTYPE html>
<html lang="en">

<head>
  <title>Genus Results</title>

  <script src="https://kit.fontawesome.com/31a00af4ac.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/result.css' />
</head>

<body>
    <!-- Header or name of the plant -->
    <section class="row justify-content-center gap mb-1">
      <h1 class="text-center">
          <i class="fas fa-xs fa-leaf fa-flip-horizontal"></i>
           Genus Category
          <i class="fas fa-xs fa-leaf"></i>
      </h1>
  </section> 

  <!-- the header and search bar -->
  <section class="d-flex justify-content-center mb-1">

    <!-- <section class="result_list"> -->
      <div class="container tableContainer m-3 p-3">
      <section class="row theRow2" aria-label="Results_row">
        <!-- <div class="card space3 col-lg-12 mt-3 d-flex mx-auto my-auto align-items-center theCol3 " > -->
      <!-- <div class="container-fluid"> -->
        <table class="table text-dark table-striped table-bordered" id="table" class="text-dark" data-toggle="table" >
          <thead class="head_title text-white">
            <tr>
              <th>
                <h4>IMAGE</h4>
              </th>
              <th>
                <h4>NAME</h4>
              </th>
              <th>
                <h4>MORE INFORMATION</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < results.length; i++) { %>
            <tr>
              <td> 
                <img class="plant_img" src="<%= results[i].image_url %>" alt="<%= results[i].slug %> image"
                  onerror="javascript:this.src='../Icons/ImageUnavailible.png'" width="100" height="100">
              </td>
              <% if (results[i].common_name) { %>
              <td class="align-middle">
                 <%= results[i].common_name %> 
              </td>
              <% } else { %>
              <td class="align-middle"> 
                <%= results[i].scientific_name %> 
              </td>
              <% } %>
              <td class="align-middle"> 
                <button class="btn btn-primary btnColoring btn-lg detailBtns" onclick="getDetails('<%= results[i].slug %>')">Plant Details</button>
              </td>
            </tr>
            <% } %>
          </tbody>

        </table>
      <!-- </div> -->

    
      
          <% if (count > 1) { %>
              <button id="prevGenusBtn" class="btn btn-primary btn-lg btnColoring" role="button" value="<%= count %>" style="width:100px">Previous</button>
          <% } %>
          <!-- <div class="position justify-content-end"> -->
          <% if (count < lastPg) { %>
              <button id="nextGenusBtn" class="btn btn-primary btn-lg btnColoring" role="button" value="<%= count %>" style="width:100px" >Next</button>
          <% } else { %>
          <!-- Ignore styling this or changing, created solely so the JS still works (it not visible and disabled)-->
              <button id="nextGenusBtn" class="btn btn-primary d-none" disabled role="button" value="<%= count %>" style="width:100px">Next</button>
          <% } %>
          <!-- </div> -->
          
      </div>
    </section>

  </section>

  <script type="text/javascript" src="../javascripts/genusResults.js"></script>

</body>

<footer class="credits" font-size="small">
  <p class="credit-text">Plant Bank</p>
  <p class="credit-text">Authored by: Iris Li, Liam Rotchford, Yufei Tao</p>
</footer>

</html>