<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    
    <head>

      <meta charset="UTF-8">
      <meta name="description" content="PlantBank information application utilizing the Trefle.io plant API">
      <meta name="keywords" content="EJS, CSS, JavaScript, Express (Node), Bootstrap, Font Awesome">
      <meta name="author" content="Yan Li">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <title>Plant Information Page</title>
      <script src="https://kit.fontawesome.com/31a00af4ac.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
      <link rel='stylesheet' href='/stylesheets/plantInformation.css' />

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    
    </head>
<body>

    <section class="d-flex justify-content-center mt-3 mb-3 ">
        <section class="mainContent">
    
          <section class="row mb-5" aria-label="Search Bar">
            <div class="col">
              <div class="card searchStyle">
                <img class="card-img" src="../images/SearchBackground.jpg" height="300px" alt="">
                <div class="card-img-overlay d-flex mx-auto align-items-center col-lg-10 col-12">
                  <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                      <button class="input-group-text" id="searchBtn" role="button"
                        onclick="getSearchResults()">Search</button>
                    </div>
                    <input type="text" class="form-control" id="searchInp" aria-label="SearchBar">
                  </div>
                </div>
              </div>
            </div>
          </section>
    
        <!-- Header or name of the plant -->
        <section class="row justify-content-center mb-1">
            <h1 class="text-center">
                <i class="fas fa-xs fa-leaf fa-flip-horizontal"></i>
                <% if (data.common_name) {%>
                    <!-- <h1> -->
                        <span class="text-center text-white" style="text-transform: capitalize"><%= data.common_name %></span>
                    <!-- </h1> -->
                <% } else { %> 
                        <span class="text-center text-white"><%= data.scientific_name %></span> 
                
                <% } %>
                <i class="fas fa-xs fa-leaf"></i>
            </h1>
        </section> 


        <!-- Container for plant info body -->
         <section class="container pageContainer mt-1 rounded"> 
            <!-- first row first col -->
            <section class="row theRow1" aria-label="Plant Info First Row">
                <div class="space1 col-lg-6 col-md-12 col-sm-6 mt-3 d-flex mx-auto  align-items-center theCol1" 
                             aria-label="space1_img">
                  <% if (data.image_url) {%>
                      <img class="plant_img mt-4 mb-3 ml-5" src="<%= data.image_url %>" height="500px" width="450px" 
                                alt="<%= data.slug %> image">     
                  <% } else { %> 
                    <img class="plant_img mt-4 mb-3 ml-5" src="../images/no-image-available-icon-13.jpg" height="500px" width="450px" 
                                alt="<%= data.slug %> image">            
                  <% } %>
                </div>
            
            <!-- first row second col -->
            <div class="space2 col-lg-6 col-md-12 col-sm-6 mt-3 d-flex align-items-center theCol2 "
                          aria-label="space2_info1"> 
                              <div class="theText mt-5 mb-5 mr-5 p-4">
                                <i class="fas fa-seedling fa-lg fa-flip-horizontal"></i>
                                    <div class="list_case">
                                      <ul class="list_id mt-4 ml-2 mr-5 mb-4 p-5">
                                        <li class="list_item text-left ">Scientific Name: 
                                          <div class="pInfo">
                                            <%= data.scientific_name %>
                                          </div>
                                        </li>
                                        <li class="list_item text-left ">Genus Name: 
                                          <div class="pInfo">
                                            <%= data.genus.name %>
                                          </div>
                                        </li>
                                        <li class="list_item text-left ">Family: 
                                          <div class="pInfo">
                                            <%= data.main_species.family %>
                                          </div>
                                        </li>
                                        <li class="list_item text-left ">Family Common Name: 
                                          <div class="pInfo">
                                            <%= data.family_common_name %>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                              
                            <div class="card-body">
                              </div>
                                      <h4></h4>
                              </div>
             </div>
          </section>  

          <!-- second row  -->
          <section class="row theRow2" aria-label="Plant Info Second Row">
              <div class="card space3 col-lg-12 col-md-12 col-sm-6 mt-3 d-flex mx-auto my-auto align-items-center theCol3 " 
                          aria-label="space1_img"> 
                          <!-- table -->
                          <h3 class="tableTitle mt-5 mb-4">
                          <i class="fas fa-xs fa-leaf fa-flip-horizontal"></i>
                          More Details
                          <i class="fas fa-xs fa-leaf"></i>
                          </h3>
                          <table class="table table-striped col-auto">
                              <!-- <thead>
                                <h2>
                                  <tr>
                                    <th>Details</th>
                                  </tr>
                                </h2>
                              </thead> -->
                              <tbody>
                                <tr class="table-info">
                                  <th scope="row"> <i class="fas fa-xs fa-leaf fa-flip-horizontal"></i></th>
                                  <% if (data.year) {%>
                                    <td class="title">Year</td>
                                    <td class="title_info"><%= data.year %></td>
                                  <% } else { %> 
                                    <td class="title">Year</td>
                                    <td>N/A</td>
                                  <% } %>
                                    <td class="title"><i class="fas fa-xs fa-leaf fa-flip-horizontal"></i></td>
                                  <% if (data.observations) {%>
                                    <td class="title">Location</td>
                                    <td><%= data.observations %></td>
                                  <% } else { %> 
                                    <td class="title">Loation</td>
                                    <td>N/A</td>
                                  <% } %>
                                </tr>
                                <tr>
                                  <th scope="row"><i class="fas fa-xs fa-leaf fa-flip-horizontal"></i></th>
                                  <% if (data.author) {%>
                                    <td class="title">Author</td>
                                    <td><%= data.author %></td>
                                  <% } else { %> 
                                    <td class="title">Author</td>
                                    <td>N/A</td>
                                  <% } %>
                                    <td class="title" ><i class="fas fa-xs fa-leaf fa-flip-horizontal"></i></td>
                                  <% if (data.Bibliography) {%>
                                    <td class="title">Bibliography</td>
                                    <td><%= data.Bibliography %></td>
                                  <% } else { %> 
                                    <td class="title">Bibliography</td>
                                    <td>N/A</td>
                                  <% } %>
                                </tr>
                                  <tr class="table-info">
                                    <th scope="row"><i class="fas fa-xs fa-leaf fa-flip-horizontal"></th>
                                    <td class="title">Vegetable</td>
                                    <td><%= data.vegetable %></td>
                                    <td class="title"><i class="fas fa-xs fa-leaf fa-flip-horizontal"></i></td>
                                    <td class="title">Edible</td>
                                    <td><%= data.main_species.edible %></td>
                                </tr>
                              </tbody>

                          </table>

              </div>

        </section>
                    
      </section>

    </section> 
</body>
       

</html>